/*Menu Section*/
#menuul li a
{
  color: black;
  border-right: 2px black outset;
  border-radius: 10px;
 
}
#menuul li a:hover
{
  color: black;
  border: 2px black outset;
  border-radius: 10px;
 
}
#menuul 
{
  float: right;
  margin-left: 10px;
 
}
/*Home Section*/
#Home {
    position: relative;
    width: 100%;
    
  }
  #home-img {
    display: block;
    width: 100%;
    height: 400px;
  }
  
  #home-hover {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color:rgba(0, 0, 0, 0.411);
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  #Home:hover #home-hover {
    bottom: 0;
    height: 100%;
  }
  
  #home-text {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
/*About Section*/
#abimg{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#abtext .card
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: bisque;
    border-radius: 10px;
    font-style: oblique;
    padding: 10px;
}
/*Skill Section*/
#sk {
  position: relative;
  width: 100%;
  height: 250px;
  margin: 10px;
  background-color: bisque;
  border: 2px whitesmoke outset;
  border-radius: 100%;
}

#skimg {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 100%;
}
#skmid {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#sk:hover #skimg {
  opacity: 0.3;
}

#sk:hover #skmid {
  opacity: 1;
}

#sktext {
  background-color: #000000ec;
  color: bisque;
  font-size: 36px;
  padding: 10px 16px;
  
}
/*Hobbies Section*/
.carousel-caption h3
{
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  color: whitesmoke;
}



/*Portfolio Section*/
#procard1
{
  height: 450px;
  border: 4px wheat inset;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
  margin: 10px;
}
#proimg1
{
  height: 100%;
  width: 100%;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
}
 #procard1 #proimg1:hover
{
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}
#procard2
{
  height: 450px;
  border: 4px wheat inset;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
  margin: 10px;
}
#proimg2
{
  height: 100%;
  width: 100%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
}
 #procard2 #proimg2:hover
{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
/*Contact Section*/
#Contact
{
  background-color: bisque;
}
#Contact .card
{
  background-color: bisque;
  border: 0px;
}
#head
{
  background-color: bisque;
  color:#312f2f;
  font-size: 30px;
  text-align: center;
  text-decoration: solid;
  text-shadow: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
}
#head .row .col p a 
{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}